# Avoid uploading healthcare data to git.

### MicrosoftOffice
*.tmp
# Word temporary
*.doc*
# Excel temporary
*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
*.ppt*
# Visio autosave temporary files
*.~vsd*

### Dropbox
*.dropbox

### Ignore Icon created by dropbox for shared folder
/Icon*

### Ignore system files
*DS_store*

### Ignore pycharm directory
*.idea/*

### Ignore json data stores
*.json

### Ignore master csv with healthcare data stored in it
master.csv
master_out.csv

###Ignore Misc Data
Misc/*

###Ignore compiled versions
*ompiled*

### Ignore Logs
*_log.csv
